.newChildCardContainer {
  @include tablet-large-below {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.PlayersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62vw;
  @include tablet-above-wh {
    width: 78vw;
  }
  @include tablet-below {
    width: 86vw;
  }
  @include mobile-below {
    flex-direction: column;
    align-items: flex-start;
  }
  .buttonContainer {
    width: 30vw;
    display: flex;
    gap: 20px;
    .button {
      width: 15vw;
      font-size: 0.8rem;
    }
    @include tablet-above-wh {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 32vw;
      .button {
        width: 20vw;
      }
    }
    @include tablet-below {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 42vw;
      .button {
        width: 20vw;
      }
    }
    @include mobile-below {
      width: 85vw;
      .button {
        width: 40vw;
      }
    }
  }
}

.newChild {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74vw;
  min-height: 30rem;
  width: 100%;
  @include tablet-above-wh {
    max-width: 80vw;
    width: 110%;
  }
  @include tablet-below {
    max-width: 88vw;
    width: 110%;
  }
  @include mobile-below {
    flex-direction: column;
  }
  .child-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $aqua-light;
    width: 30vw;
    height: 22vh;
    margin: 10px;
    min-height: 0;
    padding-top: 0;
    max-width: 71.6rem;
    min-height: 30rem;
    width: 100%;
    @include tablet-below {
      width: 41vw;
    }
    @include mobile-below {
      width: 85vw;
    }
    width: 100vw;
  }

  .innerChildContainer {
    display: flex;
    width: 25vw;
    height: 15vh;
    margin: 10px;
    min-height: 0;
    justify-content: center;
    align-items: center;
    @include mobile-below {
      width: 75vw;
    }
  }

  .statusContainer {
    margin-top: -15px;
    background-color: $gray-light;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    margin: 4% auto;
    text-align: center;
    h4 {
      text-align: center;
      padding: 1%;
      font-weight: 700;
      font-size: 1.8rem;
      margin: 0;
    }
  }

  .statContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: inherit;
    justify-content: space-evenly;
    max-width: inherit;
    @include tablet-below {
      height: 16vh;
    }
  }

  .statBox {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    margin: 2%;
    text-align: center;
    background-color: $gray-light;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    h4 {
        font-size: 1.5rem;
      margin: 0;
      margin-top: -20px;
    }
    p{
        font-size: 2rem;
        font-style: normal;
font-weight: bold;
    }
  }

  .avContainer {
    grid-column: 1 / 0;
    width: 195px;
    margin-left: 15px;
    h3 {
      font-family: $font-display;
      font-size: 2rem;
      margin: 0;
      width: 80%;
      text-align: center;
    }
  }
  .avBackground {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 70%;
    opacity: 0.9;
    padding: 2%;
  }
}
.noPlayers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 2% 15%;
}
