.child-dashboard {
  .accept-mission {
    background-image: url('../../assets/images/child_dashboard_images/acceptmission-back.svg');
    background-size: 120%;
    background-position-x: 70%;
    background-position-y: 45%;
  }
}
