* {
  margin: 0;
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

.FaceoffReveal {
  width: 100vw;
  height: 100vh;
  //   font-family: sans-serif;
  text-align: center;
  line-height: 1.4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   font-family: 'Bangers', cursive;
  color: black;
}

h3 {
  font-size: 2rem;
}

/* main div for animations */
.fixed-box {
  display: flex;
  justify-content: center;
  position: relative;
  height: 60vh;
  @include tablet-large-below {
    height: 60vh;
  }
}

.move-left-move-right {
  z-index: 4;
}

/* this is nested in 'fixed-box' */
.crash-location {
  z-index: 3;
  position: absolute;
  top: 42%;
  margin: 0;
}

.vs {
  z-index: 2;
  margin: 0;
}

// /* fixed to bottom, contains winner name and points */
.bottom-fixed {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 18%;
  padding: 0%;
}

.points-container {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* this is nested in 'bottom-fixed */
.points {
  position: relative;
  padding: 0;
  line-height: 100%;
  margin-top: 0%;
}
.padding {
  padding: 0 1%;
}
/* this is nested in 'bottom-fixed */
.winner {
  width: 100%;
  height: auto;
  position: relative;
  line-height: 100%;
  padding: 0;
  bottom: 0%;
}

.resultsType {
  z-index: 4;
  height: 10vh;
}

.go-back-button {
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 23%;
  @include tablet-large-below {
    width: 50%;
  }
}

.primary {
  margin: 2%;
}

.headline {
  margin: 2rem 0 0;
  text-align: center;
  font-size: 7.2rem;
  color: $white;
  -webkit-text-stroke: 0.2rem $black-brand;
  letter-spacing: 0.5rem;
  font-family: $font-display;
  font-weight: 400;
  @include text-shadow;
}
