header {
  background-image: url('../../assets/images/cityscape.svg');
  min-height: 30vh;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  border: 5px solid #333;
  background-color: blue;
  position: relative;
}
