header {
  background-image: url('../../assets/images/cityscape.svg');
  min-height: 26vh;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  background-color: $aqua;
  position: relative;
  @include border($black-brand);
}
