header {
  background-image: url('../../assets/images/cityscape.svg');
  min-height: 22vh;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  background-color: $aqua;
  position: relative;
  margin-bottom: 4rem;
  @include border-large-square($black-brand);
}
