.point-share {
  padding-bottom: 4rem;
  .ant-input-number-handler-wrap {
    display: none;
  }
}

.point-share-child-row {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  justify-items: center;
  @include tablet-below {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .avatar-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet-below {
      width: 100%;
    }
    img {
      max-width: 13rem;
      margin: 0 auto 1rem;
    }
    p {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .submission-viewer-button {
    margin-bottom: 2rem;
  }
  .teammate-avatar {
    width: 100%;
  }
}

.point-share-submission {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  p {
    margin-bottom: 1rem;
  }
  @include tablet-below {
    p {
      margin-top: 2rem;
    }
  }
  .ant-input-number-input {
    margin: 0;
    font-size: 2.6rem;
  }
}
