.join-squad-child {
  margin-top: 4rem;
  width: 50%;
  display: inline-block;
  position: relative;
  height: 50rem;
  & > * {
    position: absolute;
  }
  p {
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 2rem;
    &.child-2 {
      top: 6.5rem;
      left: 1.4rem;
    }
  }
  .flex-container {
    width: 100%;
    top: 20rem;
    display: flex;
    justify-content: center;
  }
  .child-avatar-container {
    top: 20rem;
  }
  .child-avatar {
    width: 50%;
  }
  .star-bg-container {
    &.child-1 {
      top: 18rem;
    }
    &.child-2 {
      top: 21rem;
    }
  }
  .talk-bubble {
    &.child-1 {
      left: 2rem;
    }
    &.child-2 {
      left: 3rem;
      top: 4rem;
    }
  }
  .user-indicator {
    height: 4rem;
    top: 43rem;
  }
}
