// styles for classes and modifiers
.content-box {
  display: block;
  margin: 0 auto 4rem;
  padding: 2rem;
  max-width: 71.6rem;
  min-height: 30rem;
  width: 100%;
  @include tablet-below {
    min-height: 15rem;
  }
  &.dark {
    background: $black-text;
    & > * {
      color: $white;
    }
  }
  &.shaped {
    clip-path: polygon(0.5% 0%, 95% 2%, 100% 94%, 0% 100%);
    &.responsive-box {
      @include tablet-below {
        clip-path: none;
      }
    }
  }
}

// wrap a .content-box.shaped with this to give it a shadow
.shaped-shadow-container {
  filter: drop-shadow($size-shadow-large $gray);
  @include tablet-below {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  &.responsive-box {
    @include tablet-below {
      margin-top: -3.6rem;
      filter: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  & > * {
    max-width: 100%;
  }
  &.grid-2-col {
    grid-template-columns: 40rem 40rem;
    column-gap: 4rem;
    &.grid-small {
      grid-template-columns: 34.6rem 34.6rem;
      column-gap: 2rem;
    }
  }
  &.grid-3-col {
    grid-template-columns: 33% auto 33%;
  }
}

.flex {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}

.border {
  @include border-large-square($black-border);
}

.border-light {
  @include border-large-square($gray);
}

.border-dark {
  @include border-large-square($black-text);
}

.bg-green {
  background: $green;
}

.bg-blue {
  background: $blue;
}

.bg-orange {
  background: $orange;
}

.bg-yellow {
  background: $yellow;
}

.bg-aqua {
  background: $aqua;
}

.bg-dark {
  background: $black-brand;
}

.text-dark {
  color: $black-text !important;
}

.text-light {
  color: $white !important;
}

.font-display {
  font-family: $font-display;
}

.font-size-32 {
  font-size: 3.2rem;
}

.center-content {
  text-align: center;
  * {
    margin-left: auto;
    margin-right: auto;
  }
}

.center-content-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-self {
  margin-left: auto;
  margin-right: auto;
}

.text-align-left {
  text-align: left;
}

// use for full-page background color in the main content
.full-page {
  margin-top: -4rem;
  margin-bottom: -8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 100vh;
}

.padding-0 {
  padding: 0;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-0 {
  margin: 0;
}

p {
  &.small {
    font-size: 1.8rem;
  }
}

p,
button {
  &.font-display {
    letter-spacing: 0.1rem;
  }
}

button {
  &.secondary {
    color: $black-text;
    background: $white;
    border-color: $aqua-light;
  }
  &.small {
    height: 5rem;
    font-size: 2rem;
    span {
      font-size: 2rem;
    }
  }
  &.btn-modal {
    background: $white;
    color: $black-text;
    font-family: $font-display;
    letter-spacing: 0.18rem;
    font-weight: 400;
  }
  &.full-width {
    width: 100%;
  }
  &.min-width {
    min-width: 20rem;
  }
}

.popup-animated {
  animation: popup-animated 0.3s;
  @keyframes popup-animated {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
