// element-level styles

h1 {
	margin: 2rem 0 0;
	text-align: center;
	font-size: 7.2rem;
	color: $white;
	-webkit-text-stroke: 0.2rem $black-brand;
	letter-spacing: 0.5rem;
  @include text-shadow;
}

h2, .h2 {
  margin: 2.4rem 0 1.2rem;
  text-align: center;
	font-size: 4.2rem;
	letter-spacing: 0.22rem;
}

h3, .h3 {
	font-size: 3.4rem;
	letter-spacing: 0.18rem;
}

h1, h2, .h2, h3, .h3 {
	font-family: $font-display;
	font-weight: 400;
}

p, span, li, button, label, input, a {
	font-size: 2.6rem;
	font-family: $font-text;
  margin-top: 0;
  margin-bottom: 2rem;
}

p {
	margin-bottom: 3.4rem;
	font-weight: 400;
}

h2, h3, p, span, li, button, label, input, a {
	color: $black-text;
}

a, button {
	cursor: pointer;
}

button {
	height: 7rem;
	padding: 0 2rem;
	border: 0.2rem solid $black-border;
	border-radius: 0.8rem;
	background: $aqua;
	font-size: 3.2rem;
	font-weight: 500;
	span {
		font-size: 3.2rem;
	}
	&:disabled, &:disabled span {
		background: $gray;
		color: $gray-dark;
		border-color: $gray-dark;
		cursor: not-allowed;
	}
	* {
		margin: 0;
	}
}
