// breakpoints

@mixin tablet-below {
  @media (max-width: 768px) {
    @content;
  }
}

// styles

@mixin border-large-square($color) {
  border: 7px solid $color;
  border-radius: 0;
}

@mixin shadow($color: $black-brand) {
  box-shadow: $size-shadow $color;
}

@mixin text-shadow($color: $black-brand) {
  text-shadow: $size-shadow $color;
  @include tablet-below {
    text-shadow: $size-shadow-small $color;
  }
}

@mixin text-stroke($color: $black-brand) {
  text-shadow: -0.1rem -0.1rem $color, 0 -0.1rem $color, 0.1rem -0.1rem $color,
    0.1rem 0 $color, 0.1rem 0.1rem $color, 0 0.1rem $color, -0.1rem 0.1rem $color,
    -0.1rem 0 $color;
}
