@mixin border-large-square($color) {
  border: 7px solid $color;
  border-radius: 0;
}

@mixin shadow($color: $black-brand) {
  box-shadow: $size-shadow $color;
}

@mixin text-shadow($color: $black-brand) {
  text-shadow: $size-shadow $color;
}
