@mixin border($color) {
  border: 7px solid $color;
}

@mixin shadow($color: $black-brand) {
  box-shadow: 0.4rem 0.4rem $color;
}

@mixin text-shadow($color: $black-brand) {
  text-shadow: 0.4rem 0.4rem $color;
}
