// alternative styles for login and parent dashboard.
.parent-styles {
  h2, .h2 {
    color: $gray-blue;
    font-size: 2.2rem;
    letter-spacing: unset;
    font-weight: 600;
    margin-bottom: 4rem;
  }
  p, label, a {
    font-size: 1.2rem;
  }
  p, label, a, input, h2, .h2, h3, .h3 {
    font-family: $font-text-parent;
  }
  label {
    font-weight: 700;
    margin-left: 0.8rem;
    margin-bottom: 0.7rem;
  }
  input[type='text'],
  input[type='password'] {
    width: 42rem;
    height: 4.8rem;
    border: 1px solid $gray-mid;
    border-radius: 0.8rem;
    color: $gray-mid;
  }
  button, .button {
    width: 42rem;
    height: 5.2rem;
    font-family: $font-display-parent;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.125rem;
    border: none;
    border-radius: 1.6rem;
    color: $gray-blue-dark;
    background: $aqua-light;
    cursor: pointer;
  }
}
