// colors
$black-brand: #231F20;
$black-text: #2D2A2B;
$white: #FBFBFB;
$gray: #E5E5E5;
$gray-light: #F5F5F5;
$green: #C6FD7E;
$orange: #FF845D;
$yellow: #FFD854;
$blue: #42CAF0;
$aqua: #6CEAE6;
$aqua-light: #8CE2E0;
