// font imports
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600;700&display=swap');

// fonts
$font-display: 'Bangers';
$font-text: 'Atma';

// colors
$black-brand: #231f20;
$black-text: #2d2a2b;
$black-border: #333D3E;
$white: #fbfbfb;
$gray: #e5e5e5;
$gray-light: #f5f5f5;
$green: #c6fd7e;
$orange: #ff845d;
$yellow: #ffd854;
$blue: #42caf0;
$aqua: #6ceae6;
$aqua-light: #8ce2e0;

// styling
$size-shadow: 0.4rem 0.4rem;
$size-shadow-large: 0.8rem 0.8rem;
