// @import '~antd/dist/antd.less';
// @import '~antd/lib/style/themes/default.less';
@import 'global.less';
@import 'variables.less';

.child-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
      margin: 2rem auto;
    }
  }
  .accept-mission {
    background-image: url('../../assets/images/child_dashboard_images/acceptmission-back.svg');
    background-size: 120%;
    background-position-x: 70%;
    background-position-y: 45%;
  }
}
